{% extends 'base.html' %}

{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Upload picture</li>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-sm btn-primary">Upload</button>
  </form>

  {% if picture %}
    <p>Uploaded picture:</p>
    <img src="{{ picture.picture.url }}">
  {% endif %}

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}
